/docs/
/.idea
/.idea
.idea/workspace.xml
/backend/uploads
/backend/uploads
/backend/uploads
/backend/src/test
*.md
/tools/
__pycache__/
*/__pycache__/
tests/selenium/screenshots/
/tests
/backend/uploads
/uploads
/node_modules
